/* CSS for LDAP Tool Box Self Service Password */

html, body {
  background: #eee;
  padding-top: 10px;
  font-size: 12pt;
}

.panel, .alert, .navbar-wrapper {
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}

.panel {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}

img.logo {
  margin-bottom: 20px;
	width:30%;
}

.title h1 {
  font-size: 20pt;
}

.result p {
  font-size: 14pt;
}

.result i.fa {
  font-size: 18pt;
  margin-right: 10px;
}

.help i.fa {
  font-size: 14pt;
  margin-right: 5px;
}

textarea {
  resize: vertical;
}


.langs ul.languages li {
    list-style: none;
}

.langs ul.languages {
    margin: 2px 20px 0 0;
    overflow: hidden;
    float: right;
}

.langs ul.languages li {
    padding-left: 16px;
    float: left;
    text-align: center;
    font-size: 0.917em;
    line-height: 1em;
    text-transform: uppercase;
}

.langs ul.languages li.lang-pl a {
    background-position: 0 0;
}

.langs ul.languages li.lang-en a {
    background-position: -16px 0;
}

.langs ul.languages li a {
    display: block;
    width: 16px;
    padding-top: 16px;
    color: #0033a0;
	font-size:80%;
    background: transparent url("../images/flags.png") no-repeat 0 0;
        background-position-x: 0px;
        background-position-y: 0px;
}